<% content_for :head do -%>
  <%= stylesheet_pack_tag "atomic_analytics" %>
<% end -%>

<%= render "shared/default_client_settings" %>
<div id="main-app"></div>
<%= javascript_packs_with_chunks_tag "atomic_analytics", "data-turbolinks-track": "reload" %>
